<a href="https://colab.research.google.com/github/yu-anono/polars-/blob/main/01_Polars_100_Knocks_for_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 初学者向けPolars100本ノックver1.0.1
##### Shift + Enter で各セルのコードが実行されます
・print(ans[ 問題番号 ]) で回答コード例を表示  

・[Polars公式リファレンス](https://pola-rs.github.io/polars/py-polars/html/reference/index.html)  
・[Polars公式ガイド](https://pola-rs.github.io/polars-book/user-guide/)  
・[Github](https://github.com/pola-rs/polars)  

・"Data for Titanic passengers" from [VANDERBILT UNIVERSITY](https://biostat.app.vumc.org/wiki/Main/DataSets)  
  
**本コンテンツ作成時のPolarsのバージョンは0.15.16**
  
作成日:2023年2月11日  
最終更新日:2023年2月24日  
再配布・改編不可  
作成者：[kunishou](https://qiita.com/kunishou)
<br>  
**以下の手順で100本ノックに取り組むことでより習熟しやすくなります。**

① 以下のPolarsに関する記事を一読する  
[pandasから移行する人向け polars使用ガイド](https://qiita.com/nkay/items/9cfb2776156dc7e054c8)  
② Polars100本ノックの解答表示版に軽く目を通す  
③ Polars100本ノックに取り組む

In [1]:
# Shift + Enterで題材データ、回答コードを読み込んで下さい

!git clone https://github.com/kunishou/Polars_100_knocks.git
%cd Polars_100_knocks//notebook/

!pip install polars==1.21.0
!pip show pyarrow==10.0.1

import pandas as pd
import polars as pl
import glob

#題材データをdfに読み込み(タイタニック号の乗客データ、テストの点数データ 等)
def initialize1():
    df = pl.read_csv('../input/titanic3.csv')
    return df

def initialize2():
    df = pl.read_csv('../input/data1.csv')
    return df

def initialize5():
    df = pl.read_csv('../input/data2.csv')
    return df

df = initialize1()
df2 = initialize2()
df3 = pl.read_csv('../input/data1_2.csv')
df4 = pl.read_csv('../input/data1_3.csv')
df5 = pl.read_csv('../input/data2.csv')

#回答コードをansリストに格納
path = sorted(glob.glob('../input/a_' + '*.txt'))

ans = []

for _ in range(len(path)):
    with open(path[_], 'r',encoding='utf-8') as f:
        ans.append(f.read())

print(ans[0])

Cloning into 'Polars_100_knocks'...
remote: Enumerating objects: 327, done.
remote: Counting objects: 100% (213/213), done.
remote: Compressing objects: 100% (142/142), done.
remote: Total 327 (delta 105), reused 152 (delta 71), pack-reused 114 (from 1)
Receiving objects: 100% (327/327), 397.13 KiB | 2.61 MiB/s, done.
Resolving deltas: 100% (132/132), done.
/content/Polars_100_knocks/notebook
Requirement already satisfied: polars==1.21.0 in /usr/local/lib/python3.11/dist-packages (1.21.0)
WARNING: Package(s) not found: pyarrow==10.0.1
[answer0]

このように解答コード例がここに表示されます。
各問題の解答コード例を表示するときはprintの前の
#を消して実行して下さい。

コード例をセル内にコピー&ペーストし
実行すると、正解のデータが表示されます

# Pandas基礎 (1 - 14)

In [3]:
# 【1】
# dfに読み込んだデータの最初の5行を表示
# print(ans[1]) #解答表示
df = initialize1() #初期化



df.head()

shape: (5, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [5]:
# 【2】
# glimpseを用いてdfに読み込んだデータの最初の要素10個を表示
# print(ans[2]) #解答表示
df = initialize1() #初期化



print(df.glimpse())

Rows: 1309
Columns: 14
$ pclass    <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ survived  <i64> 1, 1, 0, 0, 0, 1, 1, 0, 1, 0
$ name      <str> 'Allen, Miss. Elisabeth Walton', 'Allison, Master. Hudson Trevor', 'Allison, Miss. Helen Loraine', 'Allison, Mr. Hudson Joshua Creighton', 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)', 'Anderson, Mr. Harry', 'Andrews, Miss. Kornelia Theodosia', 'Andrews, Mr. Thomas Jr', 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', 'Artagaveytia, Mr. Ramon'
$ sex       <str> 'female', 'male', 'female', 'male', 'female', 'male', 'female', 'male', 'female', 'male'
$ age       <f64> 29.0, 0.92, 2.0, 30.0, 25.0, 48.0, 63.0, 39.0, 53.0, 71.0
$ sibsp     <i64> 0, 1, 1, 1, 1, 0, 1, 0, 2, 0
$ parch     <i64> 0, 2, 2, 2, 2, 0, 0, 0, 0, 0
$ ticket    <str> '24160', '113781', '113781', '113781', '113781', '19952', '13502', '112050', '11769', 'PC 17609'
$ fare      <f64> 211.3375, 151.55, 151.55, 151.55, 151.55, 26.55, 77.9583, 0.0, 51.4792, 49.5042
$ cabin     <str> 'B5', 'C22 C26', 'C22 C26', 'C22 C26', 'C22 C26', 'E12', 'D7', 'A36', 'C101', None
$ embarked  <str> 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'C'
$ boat      <str> '2', '11', None, None, None, '3', '10', None, 'D', None
$ body      <i64> None, None, None, 135, None, None, None, None, None, 22
$ home.dest <str> 'St Louis, MO', 'Montreal, PQ / Chesterville, ON', 'Montreal, PQ / Chesterville, ON', 'Montreal, PQ / Chesterville, ON', 'Montreal, PQ / Chesterville, ON', 'New York, NY', 'Hudson, NY', 'Belfast, NI', 'Bayside, Queens, NY', 'Montevideo, Uruguay'

None

In [6]:
# 【3】
# dfに読み込んだデータの最後の5行を表示
#print(ans[3]) #解答表示
df = initialize1() #初期化



df.tail()

shape: (5, 14)
┌────────┬──────────┬───────────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name                      ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---                       ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ i64    ┆ i64      ┆ str                       ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str       │
╞════════╪══════════╪═══════════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════╡
│ 3      ┆ 0        ┆ Zabour, Miss. Hileni      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null      │
│ 3      ┆ 0        ┆ Zabour, Miss. Thamine     ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null      │
│ 3      ┆ 0        ┆ Zakarian, Mr. Mapriededer ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null      │
│ 3      ┆ 0        ┆ Zakarian, Mr. Ortin       ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null      │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo        ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null      │
└────────┴──────────┴───────────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────┘

In [7]:
# 【4】
# dfのDataFrameサイズを確認
#print(ans[4]) #解答表示
df = initialize1() #初期化



df.shape

(1309, 14)

In [8]:
# 【5】
# inputフォルダ内のdata1.csvファイルを
# 読み込みdf2に格納して、最初の5行を表示
#print(ans[5]) #解答表示
df2 = initialize2() #初期化



df2 = pl.read_csv('../input/data1.csv')
df2.head()

shape: (5, 5)
┌──────┬───────┬─────────┬─────────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      │
│ E    ┆ 2     ┆ 76      ┆ 82          ┆ 79      │
└──────┴───────┴─────────┴─────────────┴─────────┘

In [9]:
# 【6】
# dfのfareの列で昇順に並び替えて表示
#print(ans[6]) #解答表示
df = initialize1() #初期化



df.sort('fare')

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 3      ┆ 0        ┆ Storey, Mr. Thomas ┆ male   ┆ … ┆ S        ┆ null ┆ 261  ┆ null              │
│ 1      ┆ 0        ┆ Andrews, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Belfast, NI       │
│        ┆          ┆ Thomas Jr          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Chisholm, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Liverpool,        │
│        ┆          ┆ Roderick Robert …  ┆        ┆   ┆          ┆      ┆      ┆ England / Belfast │
│ 1      ┆ 0        ┆ Fry, Mr. Richard   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│ 1      ┆ 0        ┆ Harrison, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ 110  ┆ null              │
│        ┆          ┆ William            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 1      ┆ 1        ┆ Fortune, Mrs. Mark ┆ female ┆ … ┆ S        ┆ 10   ┆ null ┆ Winnipeg, MB      │
│        ┆          ┆ (Mary McDou…       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Cardeza, Mr.       ┆ male   ┆ … ┆ C        ┆ 3    ┆ null ┆ Austria-Hungary / │
│        ┆          ┆ Thomas Drake Mart… ┆        ┆   ┆          ┆      ┆      ┆ Germantown, …     │
│ 1      ┆ 1        ┆ Cardeza, Mrs.      ┆ female ┆ … ┆ C        ┆ 3    ┆ null ┆ Germantown,       │
│        ┆          ┆ James Warburton …  ┆        ┆   ┆          ┆      ┆      ┆ Philadelphia, PA  │
│ 1      ┆ 1        ┆ Lesurer, Mr.       ┆ male   ┆ … ┆ C        ┆ 3    ┆ null ┆ null              │
│        ┆          ┆ Gustave J          ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Ward, Miss. Anna   ┆ female ┆ … ┆ C        ┆ 3    ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [10]:
# 【7】
# df_copyにdfをコピーして、最初の5行を表示
#print(ans[7]) #解答表示
df = initialize1() #初期化



df_copy = df.clone()
df_copy.head()

shape: (5, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [11]:
# 【8】
# ① dfの各列のデータ型を確認
# ② dfのcabinの列のデータ型を確認
#print(ans[8]) #解答表示
df = initialize1() #初期化



print(df.schema)
print(df.select(pl.col('cabin')).schema)

Schema([('pclass', Int64), ('survived', Int64), ('name', String), ('sex', String), ('age', Float64), ('sibsp', Int64), ('parch', Int64), ('ticket', String), ('fare', Float64), ('cabin', String), ('embarked', String), ('boat', String), ('body', Int64), ('home.dest', String)])
Schema([('cabin', String)])

In [12]:
# 【9】
# ① dfのpclassの列のデータ型をschemaで確認
# ② 数値型から文字列型に変換し、データ型をschemaで確認
#print(ans[9]) #解答表示
df = initialize1() #初期化



print(df.select(pl.col('pclass')).schema)
df = df.with_columns(pl.col('pclass').cast(pl.Utf8))
print(df.select(pl.col('pclass')).schema)

Schema([('pclass', Int64)])
Schema([('pclass', String)])

In [13]:
# 【10】
# dfのレコード数(行数)を確認
#print(ans[10]) #解答表示
df = initialize1() #初期化



len(df)

1309

In [14]:
# 【11】
# dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認
#print(ans[11]) #解答表示
df = initialize1() #初期化



df.describe()

shape: (9, 15)
┌────────────┬──────────┬──────────┬──────────────┬───┬──────────┬──────┬────────────┬─────────────┐
│ statistic  ┆ pclass   ┆ survived ┆ name         ┆ … ┆ embarked ┆ boat ┆ body       ┆ home.dest   │
│ ---        ┆ ---      ┆ ---      ┆ ---          ┆   ┆ ---      ┆ ---  ┆ ---        ┆ ---         │
│ str        ┆ f64      ┆ f64      ┆ str          ┆   ┆ str      ┆ str  ┆ f64        ┆ str         │
╞════════════╪══════════╪══════════╪══════════════╪═══╪══════════╪══════╪════════════╪═════════════╡
│ count      ┆ 1309.0   ┆ 1309.0   ┆ 1309         ┆ … ┆ 1307     ┆ 486  ┆ 121.0      ┆ 745         │
│ null_count ┆ 0.0      ┆ 0.0      ┆ 0            ┆ … ┆ 2        ┆ 823  ┆ 1188.0     ┆ 564         │
│ mean       ┆ 2.294882 ┆ 0.381971 ┆ null         ┆ … ┆ null     ┆ null ┆ 160.809917 ┆ null        │
│ std        ┆ 0.837836 ┆ 0.486055 ┆ null         ┆ … ┆ null     ┆ null ┆ 97.696922  ┆ null        │
│ min        ┆ 1.0      ┆ 0.0      ┆ Abbing, Mr.  ┆ … ┆ C        ┆ 1    ┆ 1.0        ┆ ?Havana,    │
│            ┆          ┆          ┆ Anthony      ┆   ┆          ┆      ┆            ┆ Cuba        │
│ 25%        ┆ 2.0      ┆ 0.0      ┆ null         ┆ … ┆ null     ┆ null ┆ 72.0       ┆ null        │
│ 50%        ┆ 3.0      ┆ 0.0      ┆ null         ┆ … ┆ null     ┆ null ┆ 155.0      ┆ null        │
│ 75%        ┆ 3.0      ┆ 1.0      ┆ null         ┆ … ┆ null     ┆ null ┆ 256.0      ┆ null        │
│ max        ┆ 3.0      ┆ 1.0      ┆ van          ┆ … ┆ S        ┆ D    ┆ 328.0      ┆ Zurich,     │
│            ┆          ┆          ┆ Melkebeke,   ┆   ┆          ┆      ┆            ┆ Switzerland │
│            ┆          ┆          ┆ Mr. Philemon ┆   ┆          ┆      ┆            ┆             │
└────────────┴──────────┴──────────┴──────────────┴───┴──────────┴──────┴────────────┴─────────────┘

In [16]:
# 【12】
# dfのsex,cabinの列の要素を確認
#print(ans[12]) #解答表示
df = initialize1() #初期化



print(df.select(pl.col('sex').unique()))
print(df.select(pl.col('cabin').unique()))

shape: (2, 1)
┌────────┐
│ sex    │
│ ---    │
│ str    │
╞════════╡
│ female │
│ male   │
└────────┘
shape: (187, 1)
┌───────┐
│ cabin │
│ ---   │
│ str   │
╞═══════╡
│ A34   │
│ C47   │
│ C2    │
│ E8    │
│ C90   │
│ …     │
│ D     │
│ F G73 │
│ E60   │
│ D38   │
│ A23   │
└───────┘

In [17]:
# 【13】
# dfの列名一覧を表示
#print(ans[13]) #解答表示
df = initialize1() #初期化



df.columns

['pclass',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home.dest']

In [19]:
# 【14】
# dfのpclassの列をndarray形式で表示
#print(ans[14]) #解答表示
df = initialize1() #初期化



df.get_column('pclass').to_numpy()

array([1, 1, 1, ..., 3, 3, 3])

# データ抽出 (15 - 36)

In [20]:
# 【15】
# selectを使ってdfのpclass列のみ表示
#print(ans[15]) #解答表示
df = initialize1() #初期化



df.select('pclass')

shape: (1_309, 1)
┌────────┐
│ pclass │
│ ---    │
│ i64    │
╞════════╡
│ 1      │
│ 1      │
│ 1      │
│ 1      │
│ 1      │
│ …      │
│ 3      │
│ 3      │
│ 3      │
│ 3      │
│ 3      │
└────────┘

In [21]:
# 【16】
# get_columnを用いてdfのpclass列のみ表示
#print(ans[16]) #解答表示
df = initialize1() #初期化



df.get_column('pclass')

shape: (1_309,)
Series: 'pclass' [i64]
[
	1
	1
	1
	1
	1
	…
	3
	3
	3
	3
	3
]

In [24]:
# 【17】
# get_columnsを用いてdfのpclass列のみ表示
#print(ans[17]) #解答表示
df = initialize1() #初期化



df.get_columns()[0]

shape: (1_309,)
Series: 'pclass' [i64]
[
	1
	1
	1
	1
	1
	…
	3
	3
	3
	3
	3
]

In [26]:
# 【18】
# selectを用いてdfのnameとsexの列のみ表示
#print(ans[18]) #解答表示
df = initialize1() #初期化



df.select(['name', 'sex'])

shape: (1_309, 2)
┌─────────────────────────────────┬────────┐
│ name                            ┆ sex    │
│ ---                             ┆ ---    │
│ str                             ┆ str    │
╞═════════════════════════════════╪════════╡
│ Allen, Miss. Elisabeth Walton   ┆ female │
│ Allison, Master. Hudson Trevor  ┆ male   │
│ Allison, Miss. Helen Loraine    ┆ female │
│ Allison, Mr. Hudson Joshua Cre… ┆ male   │
│ Allison, Mrs. Hudson J C (Bess… ┆ female │
│ …                               ┆ …      │
│ Zabour, Miss. Hileni            ┆ female │
│ Zabour, Miss. Thamine           ┆ female │
│ Zakarian, Mr. Mapriededer       ┆ male   │
│ Zakarian, Mr. Ortin             ┆ male   │
│ Zimmerman, Mr. Leo              ┆ male   │
└─────────────────────────────────┴────────┘

In [30]:
# 【19】
# get_columnを用いてdfのnameとsexの列のみ表示
print(ans[19]) #解答表示
df = initialize1() #初期化

[answer19]

df.get_column(['name', 'sex'])


----------------------------------------------

[Tips]
・get_columnに列名をリストで渡すことで複数列の抽出も可能
・selectのように抽出後の列に対して処理を加えることはできない

----------------------------------------------

[参考] pandas記法

df[['name','sex']]

In [31]:
# 【20】
# dfのname列以外を表示
#print(ans[20]) #解答表示
df = initialize1() #初期化



df.select(pl.all().exclude('name'))

shape: (1_309, 13)
┌────────┬──────────┬────────┬──────┬───┬──────────┬──────┬──────┬─────────────────────────────────┐
│ pclass ┆ survived ┆ sex    ┆ age  ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest                       │
│ ---    ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---                             │
│ i64    ┆ i64      ┆ str    ┆ f64  ┆   ┆ str      ┆ str  ┆ i64  ┆ str                             │
╞════════╪══════════╪════════╪══════╪═══╪══════════╪══════╪══════╪═════════════════════════════════╡
│ 1      ┆ 1        ┆ female ┆ 29.0 ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO                    │
│ 1      ┆ 1        ┆ male   ┆ 0.92 ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ / Chesterville, O… │
│ 1      ┆ 0        ┆ female ┆ 2.0  ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, O… │
│ 1      ┆ 0        ┆ male   ┆ 30.0 ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ / Chesterville, O… │
│ 1      ┆ 0        ┆ female ┆ 25.0 ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, O… │
│ …      ┆ …        ┆ …      ┆ …    ┆ … ┆ …        ┆ …    ┆ …    ┆ …                               │
│ 3      ┆ 0        ┆ female ┆ 14.5 ┆ … ┆ C        ┆ null ┆ 328  ┆ null                            │
│ 3      ┆ 0        ┆ female ┆ null ┆ … ┆ C        ┆ null ┆ null ┆ null                            │
│ 3      ┆ 0        ┆ male   ┆ 26.5 ┆ … ┆ C        ┆ null ┆ 304  ┆ null                            │
│ 3      ┆ 0        ┆ male   ┆ 27.0 ┆ … ┆ C        ┆ null ┆ null ┆ null                            │
│ 3      ┆ 0        ┆ male   ┆ 29.0 ┆ … ┆ S        ┆ null ┆ null ┆ null                            │
└────────┴──────────┴────────┴──────┴───┴──────────┴──────┴──────┴─────────────────────────────────┘

In [32]:
# 【21】
# dfの4行目までを表示
# なお、確認のためにwith_row_countで
# インデックスを振る
#print(ans[21]) #解答表示
df = initialize1() #初期化



df = df.with_row_count()
df[:4]

<ipython-input-32-854eba21fecd>:10: DeprecationWarning: `DataFrame.with_row_count` is deprecated. Use `with_row_index` instead. Note that the default column name has changed from 'row_nr' to 'index'.
  df = df.with_row_count()

shape: (4, 15)
┌────────┬────────┬──────────┬────────────────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ row_nr ┆ pclass ┆ survived ┆ name               ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---    ┆ ---      ┆ ---                ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ u32    ┆ i64    ┆ i64      ┆ str                ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪════════╪══════════╪════════════════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 0      ┆ 1      ┆ 1        ┆ Allen, Miss.       ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆        ┆          ┆ Elisabeth Walton   ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1      ┆ 1        ┆ Allison, Master.   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆        ┆          ┆ Hudson Trevor      ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 2      ┆ 1      ┆ 0        ┆ Allison, Miss.     ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆        ┆          ┆ Helen Loraine      ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 3      ┆ 1      ┆ 0        ┆ Allison, Mr.       ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆        ┆          ┆ Hudson Joshua Cre… ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
└────────┴────────┴──────────┴────────────────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [33]:
# 【22】
# dfの4行目から10行目までを表示
# なお、確認のためにwith_row_countで
# インデックスを振る
#print(ans[22]) #解答表示
df = initialize1() #初期化



df = df.with_row_count
df[3:10]

shape: (7, 15)
┌────────┬────────┬──────────┬────────────────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ row_nr ┆ pclass ┆ survived ┆ name               ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---    ┆ ---      ┆ ---                ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ u32    ┆ i64    ┆ i64      ┆ str                ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪════════╪══════════╪════════════════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 3      ┆ 1      ┆ 0        ┆ Allison, Mr.       ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆        ┆          ┆ Hudson Joshua Cre… ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 4      ┆ 1      ┆ 0        ┆ Allison, Mrs.      ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆        ┆          ┆ Hudson J C (Bess…  ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 5      ┆ 1      ┆ 1        ┆ Anderson, Mr.      ┆ … ┆ S        ┆ 3    ┆ null ┆ New York, NY      │
│        ┆        ┆          ┆ Harry              ┆   ┆          ┆      ┆      ┆                   │
│ 6      ┆ 1      ┆ 1        ┆ Andrews, Miss.     ┆ … ┆ S        ┆ 10   ┆ null ┆ Hudson, NY        │
│        ┆        ┆          ┆ Kornelia Theodo…   ┆   ┆          ┆      ┆      ┆                   │
│ 7      ┆ 1      ┆ 0        ┆ Andrews, Mr.       ┆ … ┆ S        ┆ null ┆ null ┆ Belfast, NI       │
│        ┆        ┆          ┆ Thomas Jr          ┆   ┆          ┆      ┆      ┆                   │
│ 8      ┆ 1      ┆ 1        ┆ Appleton, Mrs.     ┆ … ┆ S        ┆ D    ┆ null ┆ Bayside, Queens,  │
│        ┆        ┆          ┆ Edward Dale (Ch…   ┆   ┆          ┆      ┆      ┆ NY                │
│ 9      ┆ 1      ┆ 0        ┆ Artagaveytia, Mr.  ┆ … ┆ C        ┆ null ┆ 22   ┆ Montevideo,       │
│        ┆        ┆          ┆ Ramon              ┆   ┆          ┆      ┆      ┆ Uruguay           │
└────────┴────────┴──────────┴────────────────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [36]:
# 【23】
# selectを使ってdf全体を表示
#print(ans[23]) #解答表示
df = initialize1() #初期化



df.select(pl.all())

shape: (1_309, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                 │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ 328  ┆ null              │
│        ┆          ┆ Hileni             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zabour, Miss.      ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Thamine            ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 304  ┆ null              │
│        ┆          ┆ Mapriededer        ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zakarian, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Ortin              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [37]:
# 【24】
# dfのnameからcabinまでの列を5行目まで表示
#print(ans[24]) #解答表示
df = initialize1() #初期化



df.select(df.columns[2:10])[:5]

shape: (5, 8)
┌─────────────────────────────────┬────────┬──────┬───────┬───────┬────────┬──────────┬─────────┐
│ name                            ┆ sex    ┆ age  ┆ sibsp ┆ parch ┆ ticket ┆ fare     ┆ cabin   │
│ ---                             ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---    ┆ ---      ┆ ---     │
│ str                             ┆ str    ┆ f64  ┆ i64   ┆ i64   ┆ str    ┆ f64      ┆ str     │
╞═════════════════════════════════╪════════╪══════╪═══════╪═══════╪════════╪══════════╪═════════╡
│ Allen, Miss. Elisabeth Walton   ┆ female ┆ 29.0 ┆ 0     ┆ 0     ┆ 24160  ┆ 211.3375 ┆ B5      │
│ Allison, Master. Hudson Trevor  ┆ male   ┆ 0.92 ┆ 1     ┆ 2     ┆ 113781 ┆ 151.55   ┆ C22 C26 │
│ Allison, Miss. Helen Loraine    ┆ female ┆ 2.0  ┆ 1     ┆ 2     ┆ 113781 ┆ 151.55   ┆ C22 C26 │
│ Allison, Mr. Hudson Joshua Cre… ┆ male   ┆ 30.0 ┆ 1     ┆ 2     ┆ 113781 ┆ 151.55   ┆ C22 C26 │
│ Allison, Mrs. Hudson J C (Bess… ┆ female ┆ 25.0 ┆ 1     ┆ 2     ┆ 113781 ┆ 151.55   ┆ C22 C26 │
└─────────────────────────────────┴────────┴──────┴───────┴───────┴────────┴──────────┴─────────┘

In [38]:
# 【25】
# dfのname,age,sexの列のみ抽出しdf_copyに格納
# その後outputフォルダにcsvファイルで出力
# 出力ファイル名はsample.csv
#print(ans[25]) #解答表示
df = initialize1() #初期化



df_copy = df.select(['name', 'age', 'sex'])
df_copy.write_csv('../output/sample.csv')

In [ ]:
# 【26】
# dfのage列の値が30以上のデータのみ抽出
#print(ans[26]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【27】
# dfのsex列がfemaleのデータのみ抽出
#print(ans[27]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【28】
# dfのsex列がfemaleでかつageが40以上のデータのみ抽出
#print(ans[28]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【29】
# dfのsex列がfemaleでかつageが40以上のデータを
# 等号、不等号を使わずに抽出
#print(ans[29]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【30】
# dfのcabin列がnullでないデータを抽出
#print(ans[30]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【31】
# dfのage列が10以上、40以下のデータを
# 等号、不等号を使わずに抽出
#print(ans[31]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【32】
# dfのname列に文字列「Mrs」が含まれるデータを表示
#print(ans[32]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【33】
# dfの中で文字列型の列のみを表示
#print(ans[33]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【34】
# dfの各列の要素数の確認
#print(ans[34]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【35】
# dfのembarked列の要素と出現回数の確認
#print(ans[35]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【36】
# dfのすべての列の要素と出現回数の確認
#print(ans[36]) #解答表示
df = initialize1() #初期化

# データ加工 (37 - 64)

In [117]:
# 【37】
# dfに with_row_count()でインデックスを振り
# row_nr列が「3」のage列を30から40に変更し、
# 先頭の5行を表示
#print(ans[37]) #解答表示
df = initialize1() #初期化



df = df.with_row_count().with_columns(pl.when(pl.col('row_nr')==3).then(40).otherwise(pl.col('age')).alias('age'))
df.head()

<ipython-input-117-1cb52568ff11>:10: DeprecationWarning: `DataFrame.with_row_count` is deprecated. Use `with_row_index` instead. Note that the default column name has changed from 'row_nr' to 'index'.
  df = df.with_row_count().with_columns(pl.when(pl.col('row_nr')==3).then(40).otherwise(pl.col('age')).alias('age'))

shape: (5, 15)
┌────────┬────────┬──────────┬────────────────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ row_nr ┆ pclass ┆ survived ┆ name               ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---    ┆ ---      ┆ ---                ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ u32    ┆ i64    ┆ i64      ┆ str                ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪════════╪══════════╪════════════════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 0      ┆ 1      ┆ 1        ┆ Allen, Miss.       ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆        ┆          ┆ Elisabeth Walton   ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1      ┆ 1        ┆ Allison, Master.   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆        ┆          ┆ Hudson Trevor      ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 2      ┆ 1      ┆ 0        ┆ Allison, Miss.     ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆        ┆          ┆ Helen Loraine      ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 3      ┆ 1      ┆ 0        ┆ Allison, Mr.       ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆        ┆          ┆ Hudson Joshua Cre… ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
│ 4      ┆ 1      ┆ 0        ┆ Allison, Mrs.      ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆        ┆          ┆ Hudson J C (Bess…  ┆   ┆          ┆      ┆      ┆ Chesterville, O…  │
└────────┴────────┴──────────┴────────────────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [2]:
# 【38】
# dfのsex列にてmale→0、female→1に
# 変更し、先頭の5行を表示
#print(ans[38]) #解答表示
df = initialize1() #初期化



df = df.with_column(pl.when(pl.col('sex')=='male').then(0)
                       .when(pl.col('sex')=='female').then(1)
                       .otherwise(pl.col('sex')).cast(pl.Int64).alias('sex')
                       )
df.head()

NameError: name 'initialize1' is not defined

In [ ]:
# 【39】
# dfのfare列に100を足して、
# 先頭の5行を表示
#print(ans[39]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【40】
# dfのfare列に2を掛けて、
# 先頭の5行を表示
#print(ans[40]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【41】
# dfのfare列に2を掛けて、
# age列に3を足して
# 先頭の5行を表示
#print(ans[41]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【42】
# applyを用いてdfのparch列に2を掛けて、
# sibsp列に1を足して
# 先頭の5行を表示
#print(ans[42]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【43】
# dfのfare列を小数点以下で丸めて、先頭の5行を表示
#print(ans[43]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【44】
# dfに列名「test」で値がすべて1の
# カラムを追加し、先頭の5行を表示
#print(ans[44]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【45】
# dfに列名「test」で値がすべて1の
# カラムと列名「test2」で値がすべてnullの
# カラムを追加し、先頭の5行を表示
#print(ans[45]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【46】
# dfにcabinとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[46]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【47】
# dfにageとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[47]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【48】
# dfにageとembarkedの列をconcat_strを用いて
# 「_」で結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[48]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【49】
# dfからbodyの列を削除し、最初の5行を表示
#print(ans[49]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【50】
# dfに with_row_count()でインデックスを振り
# row_nr列が「3」の行を削除し、最初の5行を表示
#print(ans[50]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【51】
# df2の列名を'name', 'class', 'Biology', 'Physics', 'Chemistry'に変更
# df2の最初の5行を表示
#print(ans[51]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【52】
# df2の列名を'English'をBiology'に変更
# df2の最初の5行を表示
#print(ans[52]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【53】
# dfのすべての列の欠損値数を確認
#print(ans[53]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【54】
# dfのage列の欠損値に30を代入
# その後、ageの欠損値数を確認
#print(ans[54]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【55】
# dfでひとつでも欠損値がある行を削除
# その後、dfの欠損値数を確認
#print(ans[55]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【56】
# dfのsurvivedの列をndarray形式(配列)で表示
#print(ans[56]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【57】
# dfの行をシャッフルし、
# dfの最初の5行を表示
#print(ans[57]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【58】
# ①df2の重複行数をカウント
# ②df2の重複行を削除し、df2を表示
#print(ans[58]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【59】
# dfのnameの列をすべて大文字に変換し表示
#print(ans[59]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【60】
# dfのnameの列をすべて小文字に変換し表示
#print(ans[60]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【61】
# dfのsex列に含まれる「female」という単語を
# 「Python」に置換。その後、1行目の
# 「female」が「Python」に置き換わったことを確認
#print(ans[61]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【62】
# dfのname列1行目の「Allen, Miss. Elisabeth Walton」の
# 「Elisabeth」を消去(import reをインポート)
#print(ans[62]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【63】
# df5の都道府県列と市区町村列を空白がないように
# 「_」で結合(新規列名は「test2」)し、先頭5行を表示
# ※df5の「test」列は通常通り結合した場合の結果
#print(ans[63]) #解答表示
df5 = initialize5() #初期化

In [ ]:
# 【64】
# df2の行と列を入れ替えて表示
#print(ans[64]) #解答表示
df2 = initialize2() #初期化

# マージと連結(65 - 73)

In [ ]:
# 【65】
# df2にdf3を左結合（結合キーはname）し、df2に格納
#print(ans[65]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【66】
# df2にdf3を右結合（結合キーはname）し、df2に格納
#print(ans[66]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【67】
# df2にdf3を内部結合（結合キーはname）し、df2に格納
#print(ans[67]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【68】
# df2にdf3を外部結合し、df2に格納
#print(ans[68]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【69】
# df2にdf3を、df3にのみ存在するデータのみを残してて結合
#print(ans[69]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【70】
# df2にdf3を、df3に存在しないデータを残してて結合
#print(ans[70]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【71】
# df2とdf3のそれぞれの行を全通り組み合わせた
# dataframeを作成
#print(ans[71]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【72】
# df2とdf4を列方向に連結し、df2に格納
#print(ans[72]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【73】
# df2とdf4を行方向に連結し、df2に格納
#print(ans[73]) #解答表示
df2 = initialize2() #初期化

# 統計 (74 - 87)

In [ ]:
# 【74】
# dfのage列の平均値を確認
#print(ans[74]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【75】
# dfのage列の中央値を確認
#print(ans[75]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【76】
# ①df2の生徒ごとの合計点（行方向の合計）
# ②df2の科目ごとの点数の総和（列方向の合計）
#print(ans[76]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【77】
# df2のEnglishで得点の最大値
#print(ans[77]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【78】
# df2のEnglishで得点の最小値
#print(ans[78]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【79】
# df2においてclassでグルーピングし、クラスごとの科目の
# 最大値、最小値、平均値を求める(name列は削除しておく)
#print(ans[79]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【80】
# df2においてclassでグルーピングし、aggを用いて
# 各科目の平均、最大値、最小値を求める
# なお、各科目の平均、最大値、最小値には
# 「***_mean」のようにsuffixを振ること
#print(ans[80]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【81】
# dfの各列間の(Pearson)相関係数を確認
#print(ans[81]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【82】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
#print(ans[82]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【83】
# scikit-learnを用いてdf2のEnglish列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
#print(ans[83]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【84】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を
# Min-Maxスケーリングする
# (from sklearn.preprocessing import MinMaxScalerをインポート)
#print(ans[84]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【85】
# dfのfare列の最大値、最小値の行名を取得
#print(ans[85]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【86】
# dfのfare列の0、25、50、75、100パーセンタイルを取得
#print(ans[86]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【87】
# ①dfのage列の最頻値を取得
# ②value_counts()にてage列の要素数を
# 確認し、①の結果の妥当性を確認
#print(ans[87]) #解答表示
df = initialize1() #初期化

# ラベリング (88 - 89)

In [ ]:
# 【88】
# dfのsex列をラベルエンコーディングし、
# dfの先頭5行を表示
# (from sklearn.preprocessing import LabelEncoderをインポート)
#print(ans[88]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【89】
# dfのsex列をOne-hotエンコーディングし、
# dfの先頭5行を表示
#print(ans[89]) #解答表示
df = initialize1() #初期化

# タイタニック号の生存者予測 (90 - 100)  
これまで触れてきたタイタニック号の乗客データを使用して、乗客の生存有無を  
予測してみます。  
  
※90～100については順番通りにやらないと上手く動作しません

In [ ]:
# 【90】ラベルエンコーディング
# df_copyのsexとembarked列をラベルエンコーディング
# (from sklearn.preprocessing import LabelEncoderをインポート)
# (df_copyはdfをコピーしたもの)
#print(ans[90]) #解答表示
df = initialize1() #初期化
df_copy =df.clone()

In [ ]:
# 【91】欠損値確認
# df_copyの欠損値を確認
#print(ans[91]) #解答表示

In [ ]:
# 【92】欠損値補完
# df_copyのage、fare列の欠損値を各列の平均値で補完
#print(ans[92]) #解答表示

In [ ]:
# 【93】不要列の削除
# df_copyの中で機械学習で使用しない不要な行を削除
# (name, ticket, cabin, boat, body, home.destを削除)
#print(ans[93]) #解答表示

In [ ]:
# 【94】ndarray形式への変換
# ①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換
# ②df_copyのsurvivedの列を抽出し、ndarray形式に変換
# (①をfeatures、②をtargetという変数にそれぞれ格納)
#print(ans[94]) #解答表示

In [ ]:
# 【95】学習データとテストデータに分割
# 【94】で作成したfeatrues、targetを学習データとテストデータに分割
# (from sklearn.model_selection import  train_test_splitをインポート)
# ※分割時のパラメータは次を指定 test_size=0.3 random_state=0
#print(ans[95]) #解答表示

In [ ]:
# 【96】学習の実行
# 学習データ(features、target)を用いランダムフォレストにて学習を実行
# (from sklearn.ensemble import RandomForestClassifierをインポート)
# ※パラメータは次を指定 n_estimators=100 random_state=0
#print(ans[96]) #解答表示

In [ ]:
# 【97】予測の実行
# test_Xデータの乗客の生存を予測
#print(ans[97]) #解答表示

In [ ]:
# 【98】予測精度の確認
# 予測結果がtest_y(生存有無の答え)とどれぐらい
# 整合していたかを確認(評価指標はaccuracy)
# (from sklearn.metrics import accuracy_scoreをインポート)
#print(ans[98]) #解答表示

In [ ]:
# 【99】重要度の確認
# 学習における各列(特徴量)の
# 重要度を表示
#print(ans[99]) #解答表示

In [ ]:
# 【100】予測結果のcsv出力
# test_Xの予測結果をcsvでoutputフォルダに出力(ファイル名は「submission.csv」)
# (headerは不要)
#print(ans[100]) #解答表示

# ノックお疲れ様でした